{% extends "layout.twig" %}

{% block content %}
    
    {% include "components/hero.twig" %}

    {% include "components/presentation.twig" %}
    
    {% set section = post.meta('proposition') %}
    {% include "components/section-image-text.twig" with {section: section} %}


    {# Valeurs #}
    {% set valeurs = post.meta('valeurs') %}
    {% if valeurs %}
    <section v-scope="Slider({slidesPerPage: 2.5})" class="py-56 lg:py-80">
        <div class="container">
            <h2 class="section-title">{{ __('Nos valeurs', 'bemy') }}</h2>
        </div>

        <div @vue:mounted="initSlider($el, alignArrows = false, alignText = false)" class="slider-container mt-4 lg:mt-6">
            <div class="slider-navigation-container container absolute inset-0">
                <button class="swiper-button swiper-button-prev">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
                <button class="swiper-button swiper-button-next">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
            </div> 
            <div class="swiper">
                <ul class="swiper-wrapper">
                    {% for index, valeur in valeurs %}
                        <li class="swiper-slide">
                            <div class="flex flex-col gap-4">
                                <h3 class="font-baskerville text-lg lg:text-2xl">
                                    <span class="font-lato text-rouge text-sm uppercase font-bold">0{{index + 1}}.</span>
                                    {{valeur.title}}
                                </h3>
                                <p>{{valeur.content}}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}



    {# Management #}
    {% set managers = post.meta('managers') %}
    {% set page_manager = post.meta('page_manager') %}
    {% if managers %}

    <section v-scope="Slider({slidesPerPage: 4})" class="pb-56 lg:pb-80">
        <div class="container">
            <h2 class="section-title">{{ __('Notre management', 'bemy') }}</h2>
        </div>

        <div @vue:mounted="initSlider($el, alignArrows = true, alignText = false)" class="slider-container mt-4 lg:mt-6">
            <div class="slider-navigation-container container relative">
                <button class="swiper-button swiper-button-prev">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
                <button class="swiper-button swiper-button-next">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
            </div> 
            <div class="swiper">
                <ul class="swiper-wrapper">

                    {% for manager in managers %}
                        <li class="swiper-slide">
                            <div class="flex flex-col gap-2 relative">
                                {% if page_manager %}
                                {% set link = function('add_query_arg', 'person', manager.manager.slug, page_manager) %}
                                {% set manager_url = function('esc_url', link) %}
                                <a href="{{manager_url}}">
                                    <div class="img-container w-full aspect-portrait bg-black">
                                        {{function('get_the_post_thumbnail', manager.manager.id, 'medium')}}
                                    </div>
                                </a>

                                <h3 class="mt-2 font-baskerville text-md lg:text-lg">{{ manager.manager.first_name }} <br>{{ manager.manager.last_name }}</h3>

                                <p class="w-4/5">{{ manager.manager.job_title }}</p>

                                
                                
                                <a href="{{manager_url}}" class="w-6 h-6 border border-rouge rounded-full flex items-center justify-center absolute right-0 bottom-0 fill-rouge hover:bg-rouge hover:fill-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path id="Tracé_833" data-name="Tracé 833" d="M8,16a.5.5,0,0,1-.5-.5v-7H.5a.5.5,0,1,1,0-1h7V.5a.5.5,0,1,1,1,0v7h7a.5.5,0,0,1,0,1h-7v7A.5.5,0,0,1,8,16Z"/>
                                    </svg>
                                </a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </section>
    {% endif %}
    


    {# Chiffres #}
    {% set chiffres = post.meta('chiffres_cles') %}
    {% if chiffres %}
    <section class="section-chiffres-cles bg-greige">
        <div class="container">
            <div class="md:absolute pt-56 lg:pt-80">
                <div class="section-title black">{{ __('Chiffres clés', 'bemy') }}</div>
            </div>
        </div>
        <ul class="section-chiffres-cles__list text-mint">
            {% for chiffre in chiffres %}
                <li class="section-chiffres-cles__item">
                    <div>
                        <h3 class="font-baskerville text-2xl lg:text-4xl">{{chiffre.chiffre}}</h3>
                        <p class="font-light lg:text-lg">{{chiffre.description}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </section>
    {% endif %}

{% endblock %}
