{% extends "layout.twig" %}

{% block content %}
    
    {% include "components/hero.twig" with {hero: post.meta('hero')} %}

    {% include "components/presentation.twig" %}


    {# Nos clients #}
    {% set clients = post.meta('clients').list_clients %}
    {% if clients %}
    <section v-scope="Slider({slidesPerPage: 3})"  class="pt-56 lg:pt-80">
        <div class="container">
            <h2 class="section-title">{{ __('Nos clients', 'bemy') }}</h2>
        </div>

        <div @vue:mounted="initSlider($el, alignArrows = true, alignText = true)" class="slider-container mt-4 lg:mt-6">
            <div class="slider-navigation-container container relative">
                <button class="swiper-button swiper-button-prev">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
                <button class="swiper-button swiper-button-next">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
            </div> 
            <div class="swiper">
                <ul class="swiper-wrapper">
                    {% for client in clients %}
                        <li class="swiper-slide">
                            <div class="flex flex-col gap-6">
                                <div class="img-container w-full aspect-portrait bg-black">
                                    {{ function('wp_get_attachment_image', client.visual, "medium_large") }}
                                </div>
                                <h3 class="slide-title text-md lg:text-xl font-baskerville">{{ client.title }}</h3>
                                <p>{{ client.content }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}
    
    


    {# Citation #}
    {% set citation = post.meta('section_citation') %}
    {% if citation %}
    <section class="bg-vert py-56 lg:py-80 mt-56 lg:mt-80">
        <div class="container">
            <div class="text-center max-w-3xl mx-auto">
                <div class="relative p-8 lg:px-16">
                    <span class="icon-citation text-armerie text-3xl absolute top-0 right-0"></span>
                    <p class="text-lg lg:text-3xl font-light leading-tight">{{ citation.citation }}</p>
                    <span class="icon-citation text-armerie text-3xl absolute left-0 bottom-0 rotate-180"></span>
                </div>
                <div class="mt-8">
                    <div class="img-container w-20 h-20 rounded-full overflow-hidden mx-auto">
                        {{ function('wp_get_attachment_image', citation.photo, "thumbnail") }}
                    </div>
                    <p class="font-bold mt-4">{{ citation.name }}</p>
                    <p class="font-light">{{ citation.job_title }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}



    {# Awards #}
    {% set awards = post.meta('section_awards').list_awards %}
    {% if awards %}
    <section v-scope="Slider({slidesPerPage: 4})" class="pt-56 lg:pt-80">
        <div class="container">
            <h2 class="section-title">{{ __('Récompenses', 'bemy') }}</h2>
        </div>

        <div @vue:mounted="initSlider($el, alignArrows = true, alignText = false)" class="slider-container mt-4 lg:mt-6">
            <div class="slider-navigation-container container relative">
                <button class="swiper-button swiper-button-prev">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
                <button class="swiper-button swiper-button-next">
                    <img src="{{function('get_template_directory_uri')}}/src/images/icons/icon-slider-arrow.svg" alt="arrow icon" width="11">
                </button>
            </div> 
            <div class="swiper">
                <ul class="swiper-wrapper">
                    {% for award in awards %}
                        <li class="swiper-slide">
                            <div class="flex flex-col gap-6">
                                <div class="img-container w-full aspect-portrait bg-black">
                                    {{ function('wp_get_attachment_image', award.award, "medium") }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}




    {# Meet us #}
    {% set meet_us = post.meta('section_meet_us') %}
    {% if meet_us %}
    <section class="py-56 lg:py-80">
        <div class="container">
            <h2 class="section-title  mb-4 lg:mb-6">{{ __('Nous rencontrer', 'bemy') }}</h2>
            <div class="grid gap-8 md:gap-6 md:justify-items-start md:grid-cols-3 md:mb-6 lg:gap-8">
                {% for country in meet_us.countries %}
                    <div class="flex flex-col gap-4 lg:gap-6">
                        <div class="img-container w-full aspect-portrait bg-black">
                            {{ function('wp_get_attachment_image', country.photo, "medium_large") }}
                        </div>
                        <h3 class="font-baskerville text-md lg:text-xl">{{country.country}}</h3>
                        <p>{{country.description}}</p>
                        <a href="" class="md:hidden">{{ __('Nous contacter', 'bemy') }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="grid gap-8 md:justify-items-start md:gap-6 md:grid-cols-3 lg:gap-8">
                {% for country in meet_us.countries %}
                    <a href="{{ page_contact }}" class="btn-secondary hidden md:inline-block">{{ __('Nous contacter', 'bemy') }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    
    
    

{% endblock %}
