<footer class="site-footer bg-armerie text-white">
    <div class="container py-56 lg:py-80">

        {# Part 1 #}
        <div class="flex flex-col gap-10 md:grid md:grid-cols-2 lg:grid-cols-4">

            <div class="flex flex-col gap-4">
                <h3 class="font-baskerville">ODDO BHF SCA</h3>
                <p>12 bd de la Madeleine <br>75009 Paris</p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+33 1 44 51 85 00</span>
                </p>
            </div>

            <div class="flex flex-col gap-4">
                <h3 class="font-baskerville">ODDO BHF SE</h3>
                <p>Bockenheimer Landstraße 10 <br>60323 Frankfurt am Main</p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+49 69 718-0</span>
                </p>
            </div>

            <div class="flex flex-col gap-4">
                <h3 class="font-baskerville">ODDO BHF (Schweiz) AG</h3>
                <p>Gartenstraße 14 <br>8002 Zürich</p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+41 44 209 75 11</span>
                </p>
            </div>

            {% set currentLang = function('pll_current_language') %}
            {% if version == 'germany' and currentLang == 'de' %}
                <div class="rich-text">
                    {{ options.link_list }}
                </div>            
            {% elseif options.documentation %}
                <div class="flex flex-col gap-4">
                    <h3 class="font-baskerville">{{ __('Documentation à télécharger', 'bemy') }}</h3>
                    {% for doc in options.documentation %}
                        <a href="{{doc.document}}" class="flex items-start gap-2">
                            <span class="icon-download text-xs mt-2"></span>
                            <span class="hover:underline">
                                {% set currentLang = function('pll_current_language') %}
                                {% if currentLang == 'fr' %}
                                    {{ doc.titre_fr}}
                                {% elseif currentLang == 'en' %}
                                    {{ doc.titre_en}}
                                {% elseif currentLang == 'de' %}
                                    {{ doc.titre_de}}
                                {% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        {# Part 2 #}
        <div class="pt-10 lg:pt-80 md:grid md:grid-cols-2 md:gap-10">

            {# Apps #}
            <div>
                <p class="mb-4">{{ __('Application mobile ODDO BHF Banque Privée', 'bemy') }}</p>
                <ul class="flex flex-col items-start gap-2 lg:flex-row lg:gap-4">
                    <li>
                        <a href="" class="flex items-center justify-center min-w-[150px] gap-2 px-5 pt-2 pb-2.5 border border-white rounded-full fill-white transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                            <div class="flex-none">
                                <span class="icon-applestore"></span>
                            </div>
                            <span>Apple Store</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="flex items-center justify-center min-w-[150px] gap-2 px-5 pt-2 pb-2.5 border border-white rounded-full fill-white transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                            <div class="flex-none">
                                <span class="icon-googleplay"></span>
                            </div>
                            <span>Google Play</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lg:grid lg:grid-cols-2 lg:gap-10">
                {# Contact #}
                <div class="mt-10 md:mt-0">
                    <p class="mb-4">{{ __('Pour toute information', 'bemy') }}</p>
                    <a href="mailto:{{options.email_contact}}" class="inline-flex items-center justify-center min-w-[150px] h-11 px-5 pt-2 pb-2.5 border border-white rounded-full transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                        {{ __('Contactez-nous', 'bemy') }}
                    </a>
                </div>

                {# RS #}
                <div class="mt-10 lg:mt-0">
                    <ul class="flex gap-8 items-center">
                        <li>
                            <a href="{{options.rs.twitter}}" class="transition-colors duration-200 hover:text-rouge">
                                <span class="icon-x"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{options.rs.linkedin}}" class="transition-colors duration-200 hover:text-rouge">
                                <span class="icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{options.rs.youtube}}" class="transition-colors duration-200 hover:text-rouge">
                                <span class="icon-youtube"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="border-t border-white border-opacity-25 py-4">
        <div class="container">
            <p class="text-xs">{{ __('ODDO BHF  Group © All rights reserved', 'bemy') }}</p>
        </div>
    </div>
</footer>
