<footer class="site-footer bg-armerie text-white">
    <div class="container py-56 lg:py-80">

        {# Part 1 #}
        <div class="flex flex-col gap-10 md:grid md:grid-cols-2 lg:grid-cols-4">

            <div class="flex flex-col gap-4">
                <p class="font-baskerville">ODDO BHF SCA</p>
                <p>12 bd de la Madeleine <br>75009 Paris <br><span class="uppercase">{{ __('France', 'bemy') }}</span></p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+33 1 44 51 85 00</span>
                </p>
            </div>

            <div class="flex flex-col gap-4">
                <p class="font-baskerville">ODDO BHF SE</p>
                <p>Gallusanlage 8 <br>60329 Frankfurt/M <br><span class="uppercase">{{ __('Allemagne', 'bemy') }}</span></p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+49 69 718-0</span>
                </p>
            </div>

            <div class="flex flex-col gap-4">
                <p class="font-baskerville">{{ __('ODDO BHF (Suisse) SA', 'bemy') }}</p>
                <p>Gartenstra{% if version == "switzerland" %}ss{% else %}ß{% endif %}e 14 <br>8002 Zürich <br><span class="uppercase">{{ __('Suisse', 'bemy') }}</span></p>
                <p class="flex items-center gap-2">
                    <span class="icon-phone text-xs"></span> 
                    <span>+41 44 209 75 11</span>
                </p>
            </div>

            {% set currentLang = function('pll_current_language') %}

            {# Germany DE version #}
            {% if version == 'germany' and currentLang == 'de' %}
                <div class="rich-text">
                    {{ options.link_list }}
                </div>

            {# Switzerland Version #}
            {% elseif version == 'switzerland' and options.switzerland_documentation %}
                <div class="flex flex-col gap-4">
                    <p class="font-baskerville">{{ __('Documentation à télécharger', 'bemy') }}</p>
                    {% for doc in options.switzerland_documentation %}
                        <a href="{{doc.document}}" class="flex items-start gap-2" target="_blank">
                            <span class="icon-download text-xs mt-2"></span>
                            <span class="hover:underline">
                                {% set currentLang = function('pll_current_language') %}
                                {% if currentLang == 'fr' %}
                                    {{ doc.titre_fr}}
                                {% elseif currentLang == 'en' %}
                                    {{ doc.titre_en}}
                                {% elseif currentLang == 'de' %}
                                    {{ doc.titre_de}}
                                {% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </div> 

            {# Other versions #}
            {% elseif options.documentation %}
                <div class="flex flex-col gap-4">
                    <p class="font-baskerville">{{ __('Documentation à télécharger', 'bemy') }}</p>
                    {% for doc in options.documentation %}
                        <a href="{{doc.document}}" class="flex items-start gap-2" target="_blank">
                            <span class="icon-download text-xs mt-2"></span>
                            <span class="hover:underline">
                                {% set currentLang = function('pll_current_language') %}
                                {% if currentLang == 'fr' %}
                                    {{ doc.titre_fr}}
                                {% elseif currentLang == 'en' %}
                                    {{ doc.titre_en}}
                                {% elseif currentLang == 'de' %}
                                    {{ doc.titre_de}}
                                {% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        {# Part 2 #}
        <div class="pt-10 lg:pt-80 md:grid md:grid-cols-2 md:gap-10">

            {# Apps #}
            <div>
                <p class="mb-4">
                {% if version == "switzerland" %}
                    ODDO BHF Switzerland My Wealth
                {% else %}
                    ODDO BHF My Wealth
                {% endif %}
                </p>
                <ul class="flex flex-col items-start gap-2 lg:flex-row lg:gap-4">
                    <li>
                        {% set appstore = options.apps.apple_store %}
                        {% if version == "switzerland" and options.apps.apple_store_ch %}
                            {% set appstore = options.apps.apple_store_ch %}
                        {% endif %}
                        <a href="{{appstore}}" target="_blank" class="flex items-center justify-center min-w-[150px] gap-2 px-5 pt-2 pb-2.5 border border-white rounded-full fill-white transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                            <div class="flex-none">
                                <span class="icon-applestore"></span>
                            </div>
                            <span>Apple Store</span>
                        </a>
                    </li>
                    <li>
                        {% set googleplay = options.apps.google_play %}
                        {% if version == "switzerland" and options.apps.google_play_ch %}
                            {% set googleplay = options.apps.google_play_ch %}
                        {% endif %}
                        <a href="{{googleplay}}" target="_blank" class="flex items-center justify-center min-w-[150px] gap-2 px-5 pt-2 pb-2.5 border border-white rounded-full fill-white transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                            <div class="flex-none">
                                <span class="icon-googleplay"></span>
                            </div>
                            <span>Google Play</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lg:grid lg:grid-cols-2 lg:gap-10">
                {# Contact #}
                <div class="mt-10 md:mt-0">
                    <p class="mb-4">{{ __('Pour toute information', 'bemy') }}</p>
                    <a href="{{page_contact}}" class="inline-flex items-center justify-center min-w-[150px] h-11 px-5 pt-2 pb-2.5 border border-white rounded-full transition-colors duration-200 hover:bg-rouge hover:border-rouge">
                        {{ __('Contactez-nous', 'bemy') }}
                    </a>
                </div>

                {# RS #}
                <div class="mt-10 lg:mt-0">
                    <ul class="flex gap-8 items-center">
                        <li>
                            <a href="{{options.rs.twitter}}" class="transition-colors duration-200 hover:text-rouge" target="_blank">
                                <span class="icon-x"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{options.rs.linkedin}}" class="transition-colors duration-200 hover:text-rouge" target="_blank">
                                <span class="icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{options.rs.youtube}}" class="transition-colors duration-200 hover:text-rouge" target="_blank">
                                <span class="icon-youtube"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{options.rs.instagram}}" class="transition-colors duration-200 hover:text-rouge" target="_blank">
                                <span class="icon-instagram text-md"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="border-t border-white border-opacity-25 py-4">
        <div class="container lg:flex lg:justify-between gap-4">
            <p class="text-xs flex-shrink-0">{{ __('ODDO BHF  Group © All rights reserved', 'bemy') }}</p>
            {% if footer_menu %}
                <ul class="md:flex gap-x-4 flex-wrap">
                    {% for item in footer_menu.items %}
                        <li>
                            <a href="{{item.url}}" {% if item.target %}target="{{item.target}}" {% endif %}class="text-xs hover:underline">{{item.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</footer>
