{% if section %}
<section class="section-image-text mt-56 lg:mt-80">
    <div class="section-image-text__container bg-armerie text-white relative">
        <div class="container py-56 lg:py-80">
            <div class="section-image-text__content">
                <h2 class="section-title white">{{section.section_title}}</h2>
                <h3 class="font-baskerville my-4 text-lg lg:text-2xl">{{section.content_title}}</h3>
                <div class="rich-text">
                    {{section.content}}
                </div>
                {% if section.button %}
                    <a href="{{section.button.url}}" class="btn-primary borderonly btn-white mt-8">{{section.button.title}}</a>
                {% endif %}
                
            </div>
        </div>
        <div class="img-container w-full md:absolute md:h-full md:w-1/2 md:right-0 md:top-0">
            {{ function('wp_get_attachment_image', section.visual, "large") }}
        </div>
    </div>
</section>
{% endif %}

